.loader-bg{
        
    /* background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
    */
    background:#fff;
    width:100%;
     height:100%;
 }
 .loader{
     position:absolute;
     left:50%;
     top:50%;
     transform:translate(-50%,-50%);
 }
 .bar{
    /* background:#fc3a52;*/
    animation:load ease 2s  infinite;
    
     height:15px;
     border-radius:50%;
    /* border: 1px solid #ffa900;*/
     width:15px;
     display:inline-block;
     box-shadow:1px 1px 6px #ffa900;
     
 }

 .bar-1{
     animation-delay: .1s;
 }
 .bar-2{
     animation-delay: .2s;
 }
 .bar-3{
     animation-delay: .3s;
 }
 .bar-4{
     animation-delay: .4s;
 }


 @keyframes load{
     0%{
         background: transparent;
         transform:translateY(10px);
     }
     50%{
         background:#ffa900;
         transform:translateY(0px);
         
     }
     100%{
         background: transparent;
         transform:translateY(10px);
     }
 }